{% extends "base.html" %}

{% load placeholder %}
{% load widget_tweaks %}
{% load form_utils %}

{% block content %}
<h2> Update Profile</h2>

<p>Email: {{ user.email }}</p>
<p><a href="{% url 'change_password' %}">Change Your Password</a></p>

<form method="post">
{% csrf_token %}

{{ form|render:"forms/default.html" }}
<fieldset>
<legend>Program Details</legend>
<div  class=" inline optional" >
  <p>This year we are glad to offer a new transportation assistance initiative to support students from MBTA-accessible neighborhoods to commute to and from our classes free of charge. We hope that this initiative will increase the diversity of our student population and will help us to fulfill our mission of serving our broader community. If the cost of transportation to and from ESP would present financial hardship, please indicate this by checking this box. If you qualify, you may be able to receive free or reduced-cost MBTA passes.<p/>

  <label for="id_needs_aid">Financial aid for transportation</label> 
  <input id="id_needs_aid" name="needs_aid" type="checkbox" />
</div>
</fieldset>
<br/>
<input type="submit" value="Update Profile"/>
</form>

{% endblock %}