{% extends "base.html" %}

{% load filetransfers %}
{% block content %}
{% load form_utils %}
<h2> {{ course.name }} </h2>
<p> {{ course.teacher }} </p>

<h3> Description </h3>
<p> {{ course.description }} </p>

<h3> Info </h3>
<p> Time:  <br /> Location: TBA </p>

<h3> Documents </h3>
<a href="{{ course.syllabus|public_download_url }}"> Syllabus </a>

{% for upload in course.files.all %}
<a href="{{ upload.upload|public_download_url }}">{{ upload.name }}</a>
{% endfor %}

<form action="{% url 'course_upload' id=course.id %}" enctype="multipart/form-data" method="post">
{% csrf_token %}
{{ upload_form|render:"forms/no_fieldsets.html" }}
<input type="submit" value="upload"/>
</form>
{% endblock %}