{% extends "base.html" %}

{% load filetransfers %}
{% block content %}
{% load form_utils %}
<h2> {{ course.name }} </h2>
<p> {{ course.teacher }} </p>

<h3> Description </h3>
<p> {{ course.description }} </p>

<h3> Info </h3>
<p> <strong>Time:</strong> TBA <br /> <strong>Location:</strong> TBA </p>

<h3> Documents </h3>
{% if course.syllabus %}
<a href="{{ course.syllabus|public_download_url }}"> Syllabus </a>
{% else %}
<p> No syllabus. </p>
{% endif %}

<ul>
{% for upload in course.files.all %}
<li>
  <a href="{{ upload.upload|public_download_url }}">{{ upload.name }}</a>
</li>
{% endfor %}
</ul>
{% endblock %}