{% extends "base.html" %}

{% load flatblock_tags %}
{% block content %}
<h2> Student Portal </h2>

<h3> Your Classes </h3>

{% for course in courses %}
<p>
	Fall 2013 - {{ course.name }} - (Awaiting Approval) - 
	<a href="{% url 'course_portal' id=course.id %}"> Course Page </a>
	-
	<a href="{% url 'edit_course' id=course.id %}"> Edit </a>
	-
	<a href="{% url 'delete_course' id=course.id %}"> Delete </a>
</p>
{% endfor %}


{# {% flatblock "Student Announcements" using "blocks/h3_block.html" %} #}

{% endblock %}