{% extends "base.html" %}

{% load flatblock_tags %}
{% block content %}
<h2> Student Portal </h2>

<h3>Your Courses</h3>

{% for application in applications %}
{% with application.course as course %}
<p>
	Fall 2013 - {{ course.name }} - in room: {{ course.location }} - at time: {{ course.timeslot|default:'TBA' }} - 
  {% if application.approved == 'pending' %}
  (Awaiting Approval) - 
  {% elif application.approved == 'rejected' %}
  (Rejected) - 
  {% else %}
  (Accepted) - 
  {% endif %}
	<a href="{% url 'course_portal' id=course.id %}"> Course Page </a>
	-
	<a href="{% url 'unapply_course' id=course.id %}">Unenroll</a>
</p>
{% endwith %}
{% endfor %}

{# <h3>Your Schedule</h3> #}


{% flatblock "Student Announcements" using "blocks/h3_block.html" %}

{% endblock %}