{% extends "base.html" %}

{% load flatblock_tags %}
{% block content %}
<h2> Teacher Portal </h2>

<h3> Your Classes </h3>
{% for course in courses %}
	{{ course.name }} - 
	<a href="{% url 'edit_course' id=course.id %}"> Edit </a>
{% endfor %}


<h3> Announcements </h3>

<h3> Schedule </h3>

{% flatblock "teacher-announcements" using "blocks/h3_block.html" %}

Info sessions
○ Syllabi due
○ Teacher interviews/meetings
○ Registration opens (start accepting students and check daily)
○ Teacher Training
○ First day of class
○ Last day of class

{% endblock %}