{% extends "base.html" %}

{% load flatblock_tags %}
{% block content %}
<h2> Teacher Portal </h2>

<h3> Your Classes </h3>
<a class="apply-btn" href="{% url 'new_course' %}"> New Class </a>

{% for course in courses %}
<p>
	Fall 2013 - {{ course.name }}
	{% if not course.approved %} (Awaiting Approval) {% endif %}
	<a href="{% url 'course_portal' id=course.id %}">Course Page</a>
	-
	<a href="{% url 'edit_course' id=course.id %}">Edit</a>
	-
	<a href="{% url 'delete_course' id=course.id %}">Delete</a>
</p>
{% endfor %}


{% flatblock "Teacher Announcements" using "blocks/h3_block.html" %}

{% endblock %}