{% load staticfiles %}

{% load flatblock_tags %}
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">


  <title> Harvard ESP </title>
</head>
<body>

  <div id="header">
    <div id="header_content">
      <div class="pull-left">
        <h1 class="logo"> <a href="{% url 'show_home' %}">Harvard ESP</a> </h1>
      </div>

      <div class="pull-right nav-links">
        <a href='{% url "show_faq" %}'>FAQ</a>
        <a href="#">About</a>
        <a href='{% url "catalog" %}'>Course Catalog</a>

        {% if user.is_authenticated %}
        <div id="user_nav">
          <p style="display:inline;">Welcome, {{ user.first_name|capfirst }}</p>
          <a href="{% url 'personal_portal' %}">
            Your Courses
          </a>
          <a href="#">
            Profile
          </a>
          <a href="{% url 'logout' %}">Logout</a>&#8203;
        </div>
        {% else %}
          <a href="{% url 'login' %}" class="login-box">Register/Login</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div id="content_wrapper">
    {% block content %} {% endblock %}
  </div>

  <div id="footer">
    {% flatblock "Footer" %}
  </div>
</body>
</html>