{% extends "base.html" %}
{% load filetransfers %}

{% block content %}
<h2> Fall 2013 Course Catalog </h2>
{% if not courses %}
	<p>No courses yet. Please check back soon!</p>
{% endif %}
{% if user.is_anonymous %}
	<p> Please login to register for courses. </p>
{% endif %}
{% for course in courses %}
<div class="course-div">
	<div class="course-header">
		<div class="pull-left">
			<h3 class="course-name"> {{ course.name }} </h3>
		</div>
		<div class="course-apply pull-right">
			{% if student %}
				{% if course.name not in applications %}
					<a class='apply-btn' href="{% url 'apply_course' id=course.id %}">
						Apply
					</a>
				{% else %}
					<span>Applied</span>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<div class="course-content">
		<p> {{ course.teacher }} </p>
		<p style="font-size: 0.95em;"> {{ course.description }} </p>
		<p> <strong> Prerequisites </strong> {{ course.prerequisites }} </p>
		<p> <strong> Grade Range </strong> {{ course.grade_range }} </p>
		{% if course.syllabus %}
			<p> <a href="{{ course.syllabus|public_download_url }}"> Syllabus </a> </p>
		{% endif %}
		<p>
			<strong> Time </strong> {{ course.timeslot|default:'TBA' }},
			<strong> Location </strong> {{ course.location }} 
		</p>
		
	</div>
</div>
{% endfor %}
{% endblock %}
