{% extends "base.html" %}

{% load form_utils %}
{% load filetransfers %}
{% block content %}

{% if not new_course %}
<h2> Editing: {{ course.name }} </h2>
<form action="{% url 'edit_course' id=course.id %}" enctype="multipart/form-data" method="post">
{% else %}
<h2> Create a New Course </h2>

<form action="{% url 'new_course' %}" method="post">
{% endif %}
{% csrf_token %}
{% render_upload_data upload_data %}
{{ form|render:"forms/no_fieldsets.html" }}
<br/>
{% if not new_course %}
<input type="submit" value="Update"/>
{% else %}
<input type="submit" value="Create"/>
{% endif %}
</form>


{% endblock %}