$fonts: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body, html {
	font-family: $fonts;
	margin: 0 auto;
}


#header {
	background-color: rgb(175, 12, 12);
	border-bottom: 3px solid rgb(190, 12, 12);
	color: white;
	height: 70px;

	-webkit-box-shadow: inset 0 0px #fff, 0 2px 4px rgba(34,25,25,0.4);
}

#header_content {
	margin: 0 auto;
	width: 1020px;
}

#header_content .logo {
	margin: 0 auto;
	font-weight: 600;
	line-height: 70px;
}

#header_content .login-box {
	background-color: rgb(194, 77, 105);
	padding: 10px;

	a {
		margin: 0 auto;
	}
}

#header_content #user_nav {
	background-color: rgb(194, 77, 105);
	display: inline;
	padding: 10px;

	a {
		margin-left: 8px;
	}
}

#header_content a {
	color: white;
	line-height: 70px;
	text-decoration: none;
}

#header_content a:hover {
	color: rgb(240, 188, 188);
}

#header_content .nav-links > a {
	margin-right: 20px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

#content_wrapper {
	width: 1020px;
	margin: 0 auto;
	margin-top: 20px;
}

#footer {
	margin: 30px 0;
	text-align: center;
}

#footer p {
	font-weight: 300;
	font-size: 0.85em;
	margin: 0 auto;
}

h2 {
	font-weight: 400;
}

.apply-btn, input[type="submit"] {
	background-color: rgb(25, 124, 201);
	color: white;
	padding: 5px 10px;
	text-decoration: none;
}

.apply-btn:hover {
	background-color: rgb(21, 88, 141);
}

.course-div {
	cursor: pointer;
	display: inline-block;
	min-height: 500px;
	margin-bottom: 20px;
	margin: 5px 10px 15px;
	width: 46%;
	vertical-align: top;
	background: #f9f9f9;
	box-shadow: 0px 1px 2px #BBB inset;
	border-radius: 3px;
	padding: 10px 20px;
	width: 438px;
}

.course-div:hover {
	background: #e2e2e2;
}

.course-header {
	height: 45px;
}

.course-header .course-name {
	margin: 8px 0;
	width: 340px;
}

.course-header .course-apply {
	margin-top: 10px;
}

.course-content {
	clear: both;
	margin-top: -10px;
}
/* Forms */

form div {
	margin: 0 0 20px;
}

form div label {
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin: 0 0 2px;
}

form div.inline {
	display: inline-block;
	margin-right: 30px;
	vertical-align: top;
}

form div input[type=text],
form div input[type=password] {
	font-size: 1.0em;
	height: 30px;
	line-height: 30px;

}

form div.address > input {
	margin: 0 auto;
	width: 400px;
}

form div.zip > input {
	width: 100px;
}

form div textarea {
	font-size: 0.9em;
	line-height: 20px;
	width: 100%;
}

input[type="submit"] {
	background-color: rgb(25, 124, 201);
	border: none;
	color: white;
	font-family: $fonts;
	font-size: 1.0em;
	padding: 5px 10px;
	text-decoration: none;
}


input[type="submit"]:hover {
	background-color: rgb(21, 88, 141);
}


.course-subject p{
	font-weight: 200;
	color: white;
	padding: 5px;
}


